body {
    margin: 0;
    font-size: 20px;
}

.mainWindow {
    width: 600px;
    height: 450px;
}

.container {
    width: 100%;
    height: 100%;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.main-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.main-header input {
    flex: 1;
    height: fit-content;
}

.main-header-buttons {
    display: flex;
    justify-content: flex-end;
}

.main-contents {
    flex: 7;
    display: flex;
}

.group-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: green;
}

.group-contents {
    flex: 3;
    background: blue;
    display: flex;
    flex-direction: column;
}

.link-contents {
    flex: 1;
}

.link-buttons {
    display: flex;
    justify-content: flex-end;
}

.add-link-header {
    flex: 1;
}

.add-link-form {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.link-contents {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.link-button-footer {
    flex: 1;
    display: flex;
    justify-content: space-between;
}



/* Add Page 1.0 */

/* .add-title {
    width: 100%;
    height: auto;
    background: red;
    display: flex;
    padding: 2px;
}

.add-title input {
    flex: 1;
}

.add-contents {
    width: 100%;
    background: green;
    flex: 1;
}

.add-footer {
    width: 100%;
    height: auto;
    background: blue;
    display: flex;
    justify-content: space-between;
}

.add-footer button {
    font-size: 20px;
}

.link-input {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.link-input input {
    flex: 1;
}

.link-input button {
    width: auto;
} */